*,
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 4rem auto;
}
/* .container-oil {
    max-width: 1200px;
    margin: 4rem auto;
} */

.container-single {
    max-width: 1200px;
    margin: 4rem auto;
}
.container-about {
  max-width: 700px;
  margin:4rem auto;
  padding: 4rem auto;
}
.container-about h3 {
  margin: 2rem auto;
}

.container-img {
  margin: 4px auto;
  padding: 10px;
  float: right;
}

/* HEADER NAV */

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* OILS  */

.oils {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4rem 0;
}

.oils-item {
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 5px;
  /* width: 450px; */
  height: 450px;
  border: solid 1px gray;

  text-decoration: none;
  color: #111;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.oils-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.oils-item > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.oil-name {
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 5px;
  border: solid 1px gray;

  text-decoration: none;
  color: #111;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; 
}

.top-uses {
  padding: 10px;
  margin: 10px 0;
  border-radius: 15px;;
  border: solid 1px gray;

  text-decoration: none;
  color: #111;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;  
}
.single-oil {
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 5px;
  border: solid 1px gray;

  text-decoration: none;
  color: #111;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.single-oil > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* Component */
footer {
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.add-form {
  width: 350px;
  padding: 2rem;
}

.add-form label {
  margin: 2rem;
}

.add-form input {
  float: right;
}

.message-container {
  max-width: 1200px;
  margin: 4rem auto;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 5px;
  width: 1250px;
  height: 550px;
  border: solid 1px gray;

  text-decoration: none;
  color: #111;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

#message {
  margin: 15px auto;
  padding: 15px auto;
  margin: 15px auto;
  border-radius: 5px;
  width: 750px;
  height: 150px;
  border: solid 1px gray;

}